.center {
  text-align: center;
  margin-top: 20%;
  height: fit-content;
  margin-bottom: 50px;
}

button {
  font-size: 45px;
  font-weight: lighter;
  height: 55px;
  width: fit-content;
}

p {
  font-size: 70px;
}

span {
  color: red;
}
